<div class="div-gerenciarusuario">
  <mat-card class="card-gerenciarusuario">
    <h1><strong>Gerenciar Usuário</strong></h1>

    <div class="cards-de-gerencia">

      <div class="cadastrar-usuario" >
          <h2>Cadastrar usuário</h2>
          <p>Se deseja cadastrar utilize a opção cadastrar usuário</p>
          <button mat-raised-button color="primary"  (click)="cadastro()">Cadastrar Usuário</button>
      </div>

      <div class="listar-usuarios" >
          <h2>Listar usuários</h2>
          <p>Se deseja listar os usuarios utilize a opção listar usuários</p>
          <button mat-raised-button color="accent" (click)="listagem()">Listar Usuários</button>
      </div>

    </div>

  </mat-card>
</div>
